# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment files
.env
.env*.local

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug logs
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
