@import "tailwindcss";

:root {
  --bg: #0f172a;
  --surf: #1e293b;
  --em: #10b981;
  --em2: #34d399;
  --tx: #f8fafc;
  --muted: #64748b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--bg);
  color: var(--tx);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: var(--em);
  border-radius: 2px;
}
