.learnMore {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  min-width: 11.5rem;
  height: 3rem;
}

.circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  flex-shrink: 0;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--em2);
  border-radius: 1.625rem;
}

.icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.buttonText {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  margin-left: 1.85rem;
  color: var(--tx);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.78rem;
  letter-spacing: 0.04em;
  white-space: nowrap;
  pointer-events: none;
}

.learnMore:hover .circle {
  width: 100%;
}

.learnMore:hover .arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.learnMore:hover .buttonText {
  color: #fff;
}
